.vscode/**
.vscode-test/**
.git/**
out/**
src/**
node_modules/**
vscode-ollama-enhanced/**
temp/**
backup/**
resources/**
test/**
tsconfig.json
webpack.config.js
.eslintrc.js
.gitignore
**/*.map
**/*.ts
*.vsix
.DS_Store
.github/**
.idea/**
.npmignore
*.gif
*.log
combine-extensions.js
resize-icons.js
*.vsixmanifest
yarn.lock
**/package-lock.json

# Explicitly include distribution files
!dist/**
!icons/**