.vscode/**
.vscode-test/**
.github/**
.git/**
src/**
**/test/**
node_modules/**
vscode-ollama-enhanced/**
out/**
examples/**
.gitignore
.yarnrc
.travis.yml
.eslintrc.json
.prettierrc
.eslintignore
gulpfile.js
tsconfig.json
tslint.json
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_Store
npm-debug.log
package-lock.json
CHANGELOG.md
CONTRIBUTING.md
yarn.lock
**/jest.config.js
**/*.vsix
.editorconfig