# Compiled output
out/
dist/
*.vsix

# Dependencies
node_modules/

# IDEs
.vscode-test/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
